body {
  background-color: #7c8a71;
  font-family: Saira Stencil One, Impact;
  overflow: hidden;
}

.indepentant-scroll {
  width: 100vw;
  height: 80vh;
  overflow: auto;
  text-align: justify;
}

.indepentant-scroll-rules {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  text-align: justify;
}

// SECTION Box Shadows
.elevation-1 {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.elevation-2 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.elevation-3 {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.elevation-4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.elevation-5 {
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 12px 0 rgba(0, 0, 0, 0.12);
}

// SECTION Font classes
.fs-md {
  font-size: 22px;
}

.fs-lg {
  font-size: 32px;
}

.fs-xl {
  font-size: 42px;
}

.text-shadow-dark {
  color: #1d1d1d;
  text-shadow: whitesmoke 2px 2px;
  background: linear-gradient(#FFDA96, #dda15e);
  letter-spacing: 1px;
}

.text-tan {
  color: #fdce78;
}

.text-capital {
  color: #d79e10;
}

// SECTION Backgrounds/Images
.bg-green {
  background: linear-gradient(#606c38, #283618)
}

.bg-tan {
  background: #fdce78;
}

.bg-glass {
  background: #87cfeb2e;
}

.bg-infantry {
  background: #ffffff52;
  background-image: linear-gradient(#192101a3,
      #192101a3), url(../assets/DiceBGImages/Infantry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 70%;
}

.bg-specialForces {
  background: #ffffff52;
  background-image: linear-gradient(#192101a3,
      #192101a3), url(../assets/DiceBGImages/SpecialForces.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 76%;
}


.big-logo {
  width: 26rem;
  height: 12rem;
  border: black solid 3px;
  border-radius: 5px;
}

.logo-img {
  width: 13rem;
  height: 6rem;
}

// SECTION Buttons
button {
  background: linear-gradient(#FFDA96, #dda15e);
  box-shadow: black 4px 4px;
  border-radius: 7px;
  color: black;
  border: solid black 1px;
}

button:hover {
  text-shadow: darkgray 2px 2px;
}

button:active {
  box-shadow: none;
  background: #515151
}

button:disabled {
  box-shadow: none;
  background: #515151;
}

.dice-btn {
  background: linear-gradient(#FFDA96, #dda15e);
  box-shadow: black 4px 4px;
  border-radius: 7px;
  color: black;
  border: solid black 1px;
  min-width: 9rem;
}

.btn-blank {
  border: none;
  background: none;
  box-shadow: none;
}

.btn-blank:hover {
  transform: scale(1.2);
}

.btn-blank:active {
  transform: scale(1);
  background: none;
}

.btn-green {
  background: #7bff2f;
  color: black;
}

// SECTION Cards
.region-card {
  height: auto;
  width: fit-content;
  background: linear-gradient(#FFDA96, #dda15e);
}

.construction-card {
  min-height: 15rem;
  width: fit-content;
  background: linear-gradient(#FFDA96, #dda15e);
}

// SECTION dice
.dice::after {
  content: counter(count);
  animation: counter .2s linear infinite alternate;
  counter-reset: count 0;
}

@-webkit-keyframes counter {
  0% {
    counter-increment: count 10;
  }

  10% {
    counter-increment: count 21;
  }

  20% {
    counter-increment: count 32;
  }

  30% {
    counter-increment: count 43;
  }

  40% {
    counter-increment: count 54;
  }

  50% {
    counter-increment: count 65;
  }

  60% {
    counter-increment: count 76;
  }

  70% {
    counter-increment: count 87;
  }

  80% {
    counter-increment: count 98;
  }

  90% {
    counter-increment: count 19;
  }

  100% {
    counter-increment: count 45;
  }
}

@keyframes counter {
  0% {
    counter-increment: count 10;
  }

  10% {
    counter-increment: count 21;
  }

  20% {
    counter-increment: count 32;
  }

  30% {
    counter-increment: count 43;
  }

  40% {
    counter-increment: count 54;
  }

  50% {
    counter-increment: count 65;
  }

  60% {
    counter-increment: count 76;
  }

  70% {
    counter-increment: count 87;
  }

  80% {
    counter-increment: count 98;
  }

  90% {
    counter-increment: count 19;
  }

  100% {
    counter-increment: count 45;
  }
}

@-moz-keyframes counter {
  0% {
    counter-increment: count 10;
  }

  10% {
    counter-increment: count 21;
  }

  20% {
    counter-increment: count 32;
  }

  30% {
    counter-increment: count 43;
  }

  40% {
    counter-increment: count 54;
  }

  50% {
    counter-increment: count 65;
  }

  60% {
    counter-increment: count 76;
  }

  70% {
    counter-increment: count 87;
  }

  80% {
    counter-increment: count 98;
  }

  90% {
    counter-increment: count 19;
  }

  100% {
    counter-increment: count 45;
  }
}

// Build Animation
.add-unit-transform {
  transform: translateY(-12px);
  -o-transform: translateY(-12px);
  -moz-transform: translateY(-12);
  -webkit-transform: translateY(-12px);
}

// Misc utilities

.selectable {
  cursor: pointer;
}

.selectable:active {
  color: #FFDA96;
}

.rounded {
  border-radius: 5px;
}

.no-pad {
  padding: 0%;
}

.user-img-placeholder {
  background-color: black;
  border-radius: 50%;
  min-height: 55px;
  min-width: 55px;
}

.divider {
  background-color: #282828;
  height: 10px;
  width: 300px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}


// Tablets
@media (max-width: 912px) {

  // Font classes
  .fs-md {
    font-size: 16px;
  }

  .fs-lg {
    font-size: 22px;
  }

  .fs-xl {
    font-size: 26px;
  }
}


// Mobile
@media (max-width: 768px) {

  // Font classes
  .fs-md {
    font-size: 16px;
  }

  .fs-lg {
    font-size: 20px;
  }

  .fs-xl {
    font-size: 24px;
  }

  .paragraph-mobile {
    margin-left: 6%;
    margin-right: 6%;
  }

  .logo-img {
    width: 6rem;
    height: 3rem;
  }
}