body {
  background-color: #7c8a71;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  // text-shadow: #aeaeae 3px 3px 2px;
}

// Box Shadows
.elevation-1 {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.elevation-2 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.elevation-3 {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.elevation-4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.elevation-5 {
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 12px 0 rgba(0, 0, 0, 0.12);
}

// Font classes
.fs-md {
  font-size: 22px;
}

.fs-lg {
  font-size: 32px;
}

.fs-xl {
  font-size: 42px;
}

.text-shadow-dark {
  color: #1d1d1d;
  text-shadow: whitesmoke 2px 2px;
  background: linear-gradient(#FFDA96, #dda15e);
  letter-spacing: 1px;
}

.text-tan {
  color: #fdce78;
}

// Backgrounds
.bg-green {
  background: linear-gradient(#606c38, #283618)
}

.bg-tan {
  background: #fdce78;
}

.bg-glass {
  background: #87cfeb2e;
}

.bg-infantry {
  background: #ffffff52;
  background-image: linear-gradient(#192101a3,
      #192101a3), url(../assets/DiceBGImages/Infantryv2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 70%;
}

.bg-specialForces {
  background: #ffffff52;
  background-image: linear-gradient(#192101a3,
      #192101a3), url(../assets/DiceBGImages/SpecialForcesFinal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 76%;
}

.bg-mech {
  background: #ffffff52;
  background-image: linear-gradient(#192101a3,
      #192101a3), url(../assets/DiceBGImages/Mech.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 45%;
}

.bg-ifv {
  background: #ffffff52;
  background-image: linear-gradient(#192101a3,
      #192101a3), url(../assets/DiceBGImages/IFV.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 45%;
}

// Buttons
button {
  background: linear-gradient(#FFDA96, #dda15e);
  box-shadow: black 4px 4px;
  border-radius: 7px;
}

button:hover {
  text-shadow: darkgray 2px 2px;

}

button:active {
  box-shadow: none;
  background: #515151
}

button:disabled {
  box-shadow: none;
  background: #515151;
}

.btn-blank {
  border: none;
  background: none;
  box-shadow: none;
}

.btn-blank:hover {
  transform: scale(1.2);
}

.btn-blank:active {
  transform: scale(1);
  background: none;
}


// Misc utilities
.selectable {
  cursor: pointer;
}

.selectable:active {
  color: #FFDA96;
}

.rounded {
  border-radius: 5px;
}

.no-pad {
  padding: 0%;
}

.user-img-placeholder {
  background-color: black;
  border-radius: 50%;
  min-height: 55px;
  min-width: 55px;
}

.divider {
  background-color: #282828;
  height: 10px;
  width: 300px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.region-card {
  height: auto;
  width: fit-content;
  background: linear-gradient(#FFDA96, #dda15e);
}

// Mobile
@media (max-width: 768px) {

  // Font classes
  .fs-md {
    font-size: 18px;
  }

  .fs-lg {
    font-size: 24px;
  }

  .fs-xl {
    font-size: 32px;
  }

  .paragraph-mobile {
    margin-left: 10%;
    margin-right: 10%;
  }
}